$TTL	604800
@	IN	SOA	joyo.com. root.joyo.com. (
			      4		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
	IN	NS	infra01.joyo.com.
	IN	NS	infra02.joyo.com.
102	IN	PTR	infra01.joyo.com.
103	IN	PTR	infra02.joyo.com.