[Unit]
Description=MySQL Exporter
Wants=network.target
After=network.target

[Service]
User=mysql_exporter
Group=mysql_exporter
Environment="DATA_SOURCE_NAME={{db_user}}:{{db_password_exporter}}@tcp(127.0.0.1:3306)/"
Type=simple
ExecStart=/opt/mysql_exporter/mysqld_exporter

[Install]
WantedBy=multi-user.target
